version: '3.8'

services:
  # === NAME 1: The Network Name ===
  # The Watchdog uses this name ("victim-service") to ping the website.
  victim-service:
    build: ./victim
    # === NAME 2: The Admin Name ===
    # The Watchdog uses this name ("my-victim") to send the restart command.
    container_name: my-victim
    ports:
      - "5000:5000"

  recov-agent:
    build: ./recov-agent
    container_name: my-recov-agent
    # This makes sure the victim starts before the watchdog
    depends_on:
      - victim-service
    # This gives the watchdog "God Mode" to restart containers
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts:
      - "host.docker.internal:host-gateway"